:root {
    --color1: #222831;
    --color2: #393e46;
    --color3: #29a19c;
    --color4: #a3f7bf;
    --text-color: #ffffff;
    --text-color-black: #393e46;
}

body {
    font-family: 'Comic Neue', cursive;
}

.content-1 h1 {
    font-size: 3rem;
}

.blank-space1 {
    height: 12rem; 
}
.blank-space2 {
    height: 10rem; 
}
.blank-space3 {
    height: 8rem; 
}
.blank-space4 {
    height: 6rem; 
}
.blank-space5 {
    height: 4rem; 
}
.blank-space6 {
    height: 2rem; 
}

@media only screen and (max-width: 768px) {
    .blank-space1 {
        height: 10rem; 
    }
    .blank-space2 {
        height: 8rem; 
    }
    .blank-space3 {
        height: 6rem; 
    }
    .blank-space4 {
        height: 5rem; 
    }
    .blank-space5 {
        height: 2rem; 
    }
    .blank-space6 {
        height: 1rem; 
    }
}

.content-1 {
    background-color: var(--color1);
    color: var(--text-color);
    min-height: 100vh;
    max-width: 100vw;
}
.content-2 {
    background-color: var(--color2);
    color: var(--text-color);
    max-width: 100vw;
}
.content-3 {
    background-color: var(--color3);
    color: var(--text-color);
    max-width: 100vw;
}
.content-4 {
    background-color: var(--color1);
    color: var(--text-color);
    max-width: 100vw;
}

.btn {
    background-color: var(--color3);
    color: var(--text-color);
}

.title-img {
    height: 15rem;
    max-width: 15rem;
}

::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
}
::-webkit-scrollbar-thumb {
    background-color: #454a4d;
}
* {
    scrollbar-color: #454a4d #202324;
}

#toTop {
    display: none;
    z-index: 901;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.card {
    background-color: var(--color2);
    color: var(--text-color);
}